body{
    background-color:grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 1.5;
}
#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}
#title{
    margin-top: 5%;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#img-div{
    background-color: white;
    padding: 15px;
}
#img-caption{
        margin: 15px 0 5px 0;
}
p::first-letter{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
ul{
    border: 2px dotted black;
    padding: 0px 80px;
    text-align: left;
    max-width: 580px;
    line-height: 1.6;
    margin: 0 auto 50px auto;
}
li{
    margin: 16px 0;
}
blockquote{
    font-style: italic;
    text-align: left;
    max-width: 580px;
    margin: 0 auto 50px auto;
}
a{
    color: mediumslateblue;
}
h5{
    text-align: center;
    font-size: 20px;
}
h3{
    margin-top: 35px;
}